body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(127, 208, 255);
}

.calculator {
    border: 4px solid black;
    width: 400px;
    border-radius: 25px;
    background-color: rgb(200, 69, 69);
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow:hidden;
    font-family: 'Orbitron', sans-serif;
}

.screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#screen {
    width:75%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: end;
    font-size: 2em;
    word-wrap: break-word;
    background-color: rgb(255, 230, 198);
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding:20px;
    background-color: lightcoral;
}

button {
    padding: 20px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size:larger;
    transition-duration: 0.09s;
}

button:hover {
    transform: scale(1.15);
}

button:active {
    transform: scale(1);
}

#equal-btn {
    grid-row: 5;
    grid-column: 3 / 5;
}

#equal-btn:hover {
    transform: scale(1.1);
    background-color: lightgreen;
}

#equal-btn:active {
    transform: scale(1);
}

#add-btn {
    grid-column: 4;
    grid-row: 2 / 5;
}

.operator-btn:hover {
    background-color: rgb(168, 168, 244);
}

#add-btn:hover {
    transform: scale(1.1);
}

#add-btn:active {
    transform: scale(1);
}

#clear-btn:hover {
    background-color: rgb(242, 242, 128);
}